/* 隐藏默认滚动条 */
.scrollable-container {
    overflow: hidden;
}

.scrollable-container::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: transparent;
}

.noSelect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}