.page {
    position: fixed;
    inset: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 35px;
}

/* 顶部栏 */
.topBar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.back {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #07C160;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.back img {
    width: 50px;
    height: 50px;
    pointer-events: none;   /* 让点击事件落在按钮本身 */
}
.groupInfo {
    width: 400px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    background: #f9f9f9;
    color: #3d9712;
    border: 2px solid #3d9712;
    border-radius: 12px;
}

/* 主区域 */
.main {
    flex: 1;
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.leftPanel {
    z-index: 10;
    width: 300px;
    display: flex;
    padding-left: 300px;
    flex-direction: column;
    gap: 20px;
    row-gap: 30px;
}
.ctrl select {
    height: 80px;
    width: 300px;
    padding: 10px;
    font-size: 35px; }
.btn {
    height: 80px;
    width: 300px;
    padding: 12px 0;
    border-radius: 8px;
    background: #3d9712;
    color: #fff;
    border: none;
    cursor: pointer;
}
.timer {
    width:300px;
    font-size: 18px;
}

.media {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    position: absolute;
    top: 49%;
    left: 49.6%;
    width: 470px;
    height: 940px;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 80px;
}
.phone {
    width: 560px;
    height: 1220px;
    z-index: 2;
    object-fit: contain;         /* 保持比例不变形 */
}
/* 右下角按钮 */
.bottomBtns {
    position: absolute;
    flex-direction: column;
    bottom: 50px;
    right: 50px;
    display: flex;
    gap: 30px;
}
.buy, .nobuy {
    height: 80px;
    width: 300px;
    padding: 16px 40px;
    border-radius: 100px;
    font-size: 35px;
    border: none;
    cursor: pointer;
}
.buy   { background: #2b7711; color: #f4f0ce; }
.nobuy { background: #2b7711; color: #f4f0ce; }